body {
    padding: 0;
    margin: 0;
}
/* Login CSS */
.login_body {
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #888;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
  }
  
  .request-login {
    background-color: transparent;
    color: black;
    margin-top: 20px;
    padding: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  .error-messages {
    color: red;
    margin-bottom: 15px;
  }
  
  .error {
    margin-bottom: 5px;
  }

  .register-container {
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }