{% load static %}
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
        <div class="header">
            <h1>Klachtbeheer Rotterdam</h1>
            <div class="menu-buttons">
                <button onclick="location.href='{% url "complaints_form"%}'">Klacht Formulier</button>
                {% if not user.is_authenticated %}
                    <button onclick="location.href='{% url 'login' %}'">Login</button>
                {% endif %}                
                 {% if user.is_authenticated %}
                    <button onclick="location.href='{% url "kaart"%}'">Kaart</button>
                    <button onclick="location.href='{% url "complaints_dashboard"%}'">Klachten</button>
                    <button onclick="location.href='{% url "logout"%}'">Uitloggen</button>
                {% endif %}
            </div>
        </div>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>
