{% extends 'base.html' %}

{% block title %}Klachtbeheer{% endblock %}

{% block content %}
<main class="main-content">
    <section class="search-section">
        <form method="get" action="" class="search-form">
            <label for="search" class="form-label">Klachtomschrijving Zoeken:</label>
            <input type="text" id="search" name="search_desc" value="{{ request.GET.q }}" placeholder="Enter keywords">
            <button type="submit">Zoeken</button>
        </form>
    </section>
    <section class="flex-container">
        <form method="get" action="">
            <section class="filters-section">
                <p>Filters:</p>
                {{ search_form.as_p }}
                <button type="submit">Zoeken</button>
            </section>
        </form>


        <section class="results-section">
            <table class="results-table">
                <thead>
                    <tr>
                        <th>Omschrijving</th>
                        <th>Status</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    {% for klacht in klachten %}
                    <tr>
                        <td>{{ klacht.omschrijving }}</td>
                        <td>{{ klacht.status.waarde }}</td>
                        <td>{{ klacht.datum_melding|date:"d-m-Y" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Geen klachten gevonden.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="pagination">
                {% if klachten.has_previous %}
                <a href="?page={{ klachten.previous_page_number }}">Vorige</a>
                {% endif %}
                <span>Pagina {{ klachten.number }} van {{ klachten.paginator.num_pages }}</span>
                {% if klachten.has_next %}
                <a href="?page={{ klachten.next_page_number }}">Volgende</a>
                {% endif %}
            </div>
        </section>
    </section>

</main>
{% endblock %}